<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <!-- <%- include('partials/header') %> -->

    <main>
        <div class="container">
            <h1>Oops! Esta página no existe</h1>
            <a href="/">Volver al inicio</a>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>