<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <div class="container">
            <h1>Home</h1>
            <p>Bienvenidos a Express!</p>
            
            <img src="/img/awesome.jpg">
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
